@import "./config.scss";

body{
    margin: 0;
}

.container{
    width: 100%;
    margin: 0 auto; 
    display: flex; 
    flex-direction: column;

    .header-container{
        width: 100%;
        height: 60px;
        background: $gray4;
    }

    .content{
        width: 90%;
        background: $gray1;
    }

    .footer-container{
        width: 100%;
        height: 300px;
        background: $gray8;
    }
}